# NYC traffic accidents over a 4 year period 
## Filter and Subset

Download <a href="https://www.dropbox.com/s/585wrgl08djzlyt/accidents-nyc.csv?dl=0">this dataset</a> stored on dropbox.

In [3]:
## import necessary libraries

import pandas as pd

In [4]:
## read the dataset into notebook
traffic_acc = pd.read_csv ("data/accidents-nyc.csv")

In [6]:
## see the overall info about this dataset
traffic_acc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282873 entries, 0 to 282872
Data columns (total 16 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   CRASH DATE                     282873 non-null  object
 1   CRASH TIME                     282873 non-null  object
 2   BOROUGH                        282873 non-null  object
 3   NUMBER OF PERSONS INJURED      282873 non-null  int64
 4   NUMBER OF PERSONS KILLED       282873 non-null  int64
 5   NUMBER OF PEDESTRIANS INJURED  282873 non-null  int64
 6   NUMBER OF PEDESTRIANS KILLED   282873 non-null  int64
 7   NUMBER OF CYCLIST INJURED      282873 non-null  int64
 8   NUMBER OF CYCLIST KILLED       282873 non-null  int64
 9   NUMBER OF MOTORIST INJURED     282873 non-null  int64
 10  NUMBER OF MOTORIST KILLED      282873 non-null  int64
 11  CONTRIBUTING FACTOR VEHICLE 1  281489 non-null  object
 12  CONTRIBUTING FACTOR VEHICLE 2  224591 non-null  object
 13  COLLISION_ID                   282873 non-null  int64
 14  VEHICLE TYPE CODE 1            279986 non-null  object
 15  VEHICLE TYPE CODE 2            201168 non-null  object
dtypes: int64(9), object(7)
memory usage: 34.5+ MB

In [7]:
## create a series of crash dates.
traffic_acc["CRASH DATE"]

0         4/13/21
1         4/13/21
2         4/13/21
3         4/11/21
4         4/15/21
           ...
282868     1/1/19
282869     1/1/19
282870     1/1/19
282871     1/1/19
282872     1/1/19
Name: CRASH DATE, Length: 282873, dtype: object

In [8]:
## Which borough had the most crashes? Answer: "Brooklyn"
traffic_acc["BOROUGH"].value_counts()

BROOKLYN         95099
QUEENS           80085
BRONX            50123
MANHATTAN        48864
STATEN ISLAND     8702
Name: BOROUGH, dtype: int64

In [9]:
## which type of vehicle was primary vehicle involved in crashes?
## SHOW ONLY THE TOP 7

traffic_acc[traffic_acc["VEHICLE TYPE CODE 2"] == "Sedan"] #this was to check the individual sedans to see if the math added up in the combined columns.

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
7,3/31/21,22:20,BROOKLYN,1,0,0,0,0,0,1,0,Driver Inexperience,Unspecified,4403773,Sedan,Sedan
11,4/16/21,17:40,BRONX,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4407900,Sedan,Sedan
16,4/16/21,17:20,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4407885,Station Wagon/Sport Utility Vehicle,Sedan
21,4/14/21,15:16,BROOKLYN,1,0,0,0,0,0,1,0,Passing Too Closely,Unspecified,4407821,Sedan,Sedan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282864,1/1/19,13:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
282866,1/1/19,10:23,QUEENS,1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan
282868,1/1/19,19:00,BROOKLYN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4060606,Ambulance,Sedan
282870,1/1/19,3:30,BRONX,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060653,Pick-up Truck,Sedan
282871,1/1/19,19:30,BROOKLYN,0,0,0,0,0,0,0,0,Passing Too Closely,Unspecified,4268108,Tanker,Sedan

In [10]:
traffic_acc["VEHICLE TYPE CODE 2"].unique() #This was to check all the ways that people can't come to a consensus on how ro describe a vehicle.

array([nan, 'Sedan', 'Taxi', 'Station Wagon/Sport Utility Vehicle',
       'Ambulance', 'Van', 'Bike', 'Garbage or Refuse', 'PK', 'Dump',
       'E-Bike', 'Motorcycle', 'Tractor Truck Gasoline', 'Bus',
       'Box Truck', 'Pick-up Truck', 'Tractor Truck Diesel',
       'Concrete Mixer', 'Multi-Wheeled Vehicle', 'fire truck',
       'Chassis Cab', 'FDNY TRUCK', 'E-Scooter', 'VAN/TRUCK', 'Pedicab',
       'Moped', 'FDNY ENGIN', 'FIRE TRUCK', 'Dirt Bike', 'MOPED',
       'util truck', 'Carry All', 'Armored Truck', 'BOX', 'Tanker',
       '4 dr sedan', 'firetruck', 'Motorscooter', 'WHEELCHAIR',
       'Beverage Truck', 'work van', 'bus', 'Convertible', 'NICE BUS',
       'Tow Truck / Wrecker', 'TRAILER', 'Stake or Rack', 'Open Body',
       'MTA BUS', 'TRK', 'COM', 'bmw', 'Box truck', 'FORKLIFT',
       'Flat Bed', 'Bulk Agriculture', 'FIRETRUCK', 'AMBULANCE', 'WH',
       'USPS', 'Motorbike', 'FIRE', 'UNKNOWN', 'FDNY RIG', '3-Door',
       'MOPAD', 'Unknown', 'UNK', 'FORK LIFT', 'SKATEBOARD', 'ambulance',
       'Chevy carg', 'TOW TRUCK', 'Refrigerated Van', 'Pick up',
       'COURIER VA', 'street swe', 'comm', 'FDNY truck', 'Pickup tru',
       'TRUCK', 'toolcat', 'van', 'trailer', 'Fire truck', 'REFG', 'LIMO',
       'moped', 'UNKNOW', 'Lift Boom', 'Uhaul Truc', 'Trailer', 'Unk',
       'cat payloa', 'Courier', 'Minibike', 'fork lift', 'FDNY AMBUL',
       'CO', 'Tow Truck', 'electric s', 'FDNY EMS', 'FOOD CART',
       'Lunch Wagon', 'FDNY AMBU', 'M21', 'FDNY Fire', 'Scooter',
       'dirt bike', 'SPECIAL PU', 'PICKUP TRU', 'Pallet', 'MOTORSCOOT',
       'gas bicycl', 'Flat Rack', 'Delivery T', 'FREIG', 'scooter',
       'Van Camper', 'Pedestrian', 'TRUCK LADD', 'TRACTOR TR', 'G AMB',
       'DUMP', 'FIRE TURCK', 'ORANGE JLG', 'dirtbike', 'School Bus',
       'motorhome', 'Van Box Tr', 'fdny ladde', 'Snow Plow', 'forklift',
       'STAKE TRUC', 'SUBURBAN', 'scooter ga', 'Sprinter', 'F550',
       'BOOM LIFT/', 'AMB', 'MOTORCYCLE', 'tractor', 'USPS TRUCK',
       'Scooter no', 'AMBU', 'Garbage tr', 'DIRT BIKE', 'box truck',
       'AMBULETTE', 'Minicycle', 'FDNY FIRE', 'skateboard', 'Util.',
       'MOTOR SCOO', 'Caterpilla', 'uni e-bike', 'utility tr',
       'USPS MAIL', 'U Haul Tru', 'PLOW', 'PUMPER', 'basic psd',
       'BOX TRUCK', 'GARBAGE TR', 'FLAT', 'Garbage Tr', 'FOR VAN',
       'pickup', 'INDUSTRIAL', 'REVEL SCOO', 'UHAUL', 'COLLECTION',
       'Firetruck', 'Go kart', 'AMbulance', 'mta bus  4', 'ROADROLLER',
       'PSD', '2 dr sedan', 'unk', 'DUMP TRUCK', 'WORK VAN', 'SCHOOL BUS',
       'Forklift', 'com', 'SANITATION', 'MOTORED SC', 'Suburban',
       'bucket tru', 'DELV', 'truck',
       'Enclosed Body - Removable Enclosure', 'Rental Tru', 'GAS SCOOTE',
       'SCHOOL VAN', 'CADET', 'Uhaul truc', 'EXCAVATOR',
       'Enclosed Body - Nonremovable Enclosure', 'TRACTOR', 'SPC',
       'Pickup with mounted Camper', 'road sweep', 'UPS TRUCK',
       'UNKNOWN VE', 'MOPD', 'E-BIKE', 'subn', 'Sprinter V', 'E-scooter',
       'sanitation', 'Delivery', 'CHERRY PIC', 'BOBCAT', 'NYC TRANSI',
       'FED EX', 'FDNY', 'unknown', 'EMS', 'DELIVERY', 'PICK UP TR', 'Tk',
       'CMIX', 'FDNY LADDE', 'SUBN TN', 'USPCS Truc', 'COMMAND PO',
       'MOTOR', 'FDNY Firet', 'NYC SANITA', 'Plow  truc', 'PLOW TRUCK',
       'Command Po', 'Truck', 'POWER SHOV', 'usps self', 'Power shov',
       'FREIGHT', 'KENWO', 'TRAILOR', 'PEDI CAB', 'SCOOTER', 'Motorizeds',
       'police veh', 'E- MOTOR B', 'RENTED BOO', 'FIRE ENGIN', 'E-bike',
       'DEL', 'AMBULANCE`', 'WORKH UTIL', 'Fire Truck', 'PICKUP TOW',
       'POSTAL SER', 'wheel barr', 'Ny Ems', 'e-scooter', 'postal tru',
       'STREET SWE', 'e-sooter', 'Comm Food', 'Hopper', 'POSTAL VEH',
       'Truck cran', 'Car traile', 'street cle', 'Amazon tru', 'UT',
       'ESU REP', 'courier', 'tractor tr', 'ECONOLINE', 'Golf cart',
       'FLATBED', 'DELIVERY T', '0', 'revel', 'RV', 'delivery t', 'usps',
       'Ambiance', 'UPS Van', 'EMS TRUCK', 'UTILITY', 'AMBULAMCE',
       'AERIAL LIF', 'DOLLAR VAN', 'FDNY Truck', 'UKNOWN', 'PAS',
       'MTA Truck', 'Road sweep', 'PICK UP', 'Tow truck', 'CARGO',
       'constructi', 'Marked Van', 'Tow', 'skate boar', 'SEMI TRAIL',
       'Ems truck', 'spc', 'FD TRUCK', 'Unknown ve', 'TL', 'Fed ex van',
       'FDNY Ambul', 'suv', 'delivery w', 'Oil Tanker', 'Standing s',
       'E-SCOOTER', 'MOPPED', 'Pick up tr', 'CARGO VAN', 'Pick Up Tr',
       'Glass Rack', 'Gator', 'BOOM LIFT', 'VAN TRUCK', 'DL',
       'Postal tru', 'Pickup', 'Sweeper', 'MAILTRUCK', 'LEFT THE S',
       'Escavator', 'boom lift', 'uknown', 'CAR TRAILE', 'Fleet',
       'TRUCK TRAI', 'BACKHOE LO', 'E SCOOTER', 'motor scoo',
       'COMMERCIAL', 'Flatbed', 'uhaul truc', 'TRL', 'GATOR', 'DIRTBIKE',
       'MOPED SCOO', 'TRAC', 'motorbike', 'FOLK LIFT', 'MINI VAN',
       'Tilt tande', 'Well Driller', 'NYC ACS Va', 'school bus',
       'Electric s', 'ESCOOTER', 'FRIEGHTLIN', 'e-bike', 'UTIL',
       'ICE CREAM', 'commercial', 'MAIL TRUCK', 'AMBULENCE', 'E-SKATEBOA',
       'INTERNATIO', 'Skateboard', 'FLAT BED', 'HAUL FOR H', 'cargo van',
       'Moped Scoo', 'VEHICLE 2', 'SUV', 'FREIGHTLIN', 'ELECTRIC M',
       'PALFINGER', 'Vanette', 'Dump truck', '4dsd', 'UKN', 'John Deere',
       'NYC BUS', 'Pick Truck', 'Dump Truck', 'BOB CAT', 'ACCESS A R',
       'PICK-UP TR', 'CRANE', 'RDS', 'POSTAL TRU', 'SCOOT', 'JETSKI',
       'Flat bed', 'Golf Cart', 'Delivery t', 'Sanitation', 'AMAZON SPR',
       'ROAD SWEEP', 'P/SH', 'GLP050VXEV', 'Tree cutte', 'DELIVERY V',
       'Toyota', 'UTILITY TR', 'ESCOVATOR', 'Razor scoo', 'Dirt bike',
       'Cargo Truc', 'itas', 'EZ GO', 'FDNY FIRET', 'ESCOOTER S',
       'PEDICAB', 'MTA NYC BU', 'Fork lift', 'MTABUS', 'CITY VEHIC',
       "Revel Mo'e", 'excavator', 'bay crane', 'Moped clas', 'tow truck',
       'RMP', 'GAS MOPED', 'GMC DELIVE', 'MO PED', 'Moped scoo',
       'wheel load', 'FORD TRANS', 'LEFT SCENE', 'SHORT SCHO', 'White',
       'Utility ca', '50 CC Moto', 'MOPET', 'SPRINTER V', 'Lateral Tr',
       'HOVERBOARD', 'fedex truc', 'Front End', 'Motor Home',
       'REVEL MOPE', 'BACK HOE', 'SWEEPER', 'US POSTAL', 'US Postal',
       'Motorized Home', 'GLNEN', 'Light trai', 'Electric S', '18 WEELER',
       'self insur', 'ESCAVATOR', 'OMT', 'armored tr', 'TRACT',
       'mail truck', 'Forklift t', 'delivery', 'trailor', 'utility',
       'ambulence', 'fdny truck', 'dump truck', 'Short Bus', 'FDNY fire',
       'GLBEN', 'NYC fire t', 'PICK RD', 'power shov', 'BLU BUS',
       'NYC DOT', 'Pumper tru', 'omt', '600AJ', 'SPINTER VA', 'TANK WH',
       'Livery Omn', 'City MTA b', 'comme', 'HINO TANK', 'Road Sweep',
       'POSTAL CAR', 'SCOTTER', 'CITY OF NE', 'VENDOR CHA', 'PICKUP',
       'Amb', 'mack', 'semi-trail', 'Mobile foo', 'crane', 'CITY',
       'EMBULANCE', 'back ho', 'Trailer no', 'Fedex Box', 'UTILITY VE',
       'CART', 'SELF INSUR', 'NYC FIRE T', 'Food cart', '999', 'TOWTRUCK',
       'Self insur', 'MOTOR HOME', 'SPRINTER', 'Ltrl', 'NYCFIREDEP',
       'UPS', 'BLUE CHEVY', 'DOT VEHICL', 'ESCAVATER', 'Fire', 'E-Sco',
       '2 HOR', 'Trail', 'Utility', 'FIRET', 'FORKL', 'Fire Engin',
       'HORSE', 'School bus', 'GAS T', 'Schoo', 'EBIKE', 'UNKNO', 'E-Bik',
       'boom crane', 'AMBUL', 'Pedic', 'PALLET JAC', 'ROAD', 'MTA B',
       'Food Cart', 'SKIDSTEERL', 'LADDER TRU', 'MAN L', 'Postal Veh',
       'Chevy', 'EMT', 'SKID', 'SCHOO', '11 PA', 'flat', 'Livestock Rack',
       'BROWN', 'Sciss', 'Comme', 'unkno', 'Box T', 'EMS A', 'Fork',
       'TOW T', 'Unkno', 'SWEEP', 'MACK', 'TRAIL', 'POWER', 'COURI',
       'E-SKA', 'ECONO', 'FLATB', 'spec-', 'trail', 'LADDE', 'mta b',
       'MOBIL', 'DUMPS', 'excav', 'BOX T', 'Liebh', 'Tract', 'RAZOR',
       'U HAU', 'mo-pe', 'Dirt', 'CEMEN', 'backh', 'firet', 'mail',
       'US PO', 'FORK', '52? t', 'Scoot', 'N/a', 'Forkl', 'utili',
       'ambul', 'UTILI', 'E SCO', 'sprin', 'boom', 'fire', 'Subn',
       'scoot', 'Ambul', 'WORK', 'BULLD', 'STREE', 'GARBA', 'BUMP',
       'Train', 'Depar', 'ASPHA', 'Lift', 'DETAC', 'E-bik', 'rep',
       'DELIV', 'fdny', 'yello', 'MTA b', 'DIRTB', 'ALUMI', 'ENGIN',
       'JOHN', 'E-SCO', 'bobca', 'tow t', 'JLG L', 'CAT32', 'PASS',
       'ELECT', 'Crane', 'tract', 'E Bik', 'VAN T', 'elect', 'OMS',
       'BOBCA', 'TOWER', 'MAN B', 'sanit', 'RD/S', 'Grain', 'E-BIK',
       'lift', 'RAM', 'nyfd', 'dp', 'wagon', 'Elect', 'HAND', 'VAN C',
       'BOB C', 'c7c', 'Deliv', 'const', 'FED E', 'USPOS', 'gator',
       'DIRT', 'E BIK', 'MTRIZ', 'TRLR', 'TANK', 'WHITE', 'SE', 'front',
       'INTER', 'CATER', 'COMME', 'BACK', 'ENCLO', 'SEMI-', 'ARMOR',
       'FORD', 'motor', 'schoo', 'SANIT', 'Mopen', 'ICE C', 'DSNY', 'tr',
       'VESPA', 'CRWZK', 'BACKH', 'U-TRU', 'e-BIK', 'Mini', 'T650',
       'Tow t', 'Refri', 'box t', 'FEDER', 'VMS T', 'JOHND', 'na',
       'CONST', 'Laund', 'WASTE', 'SWT', 'Freig', 'TKP', 'forkl', 'SELF',
       'NYC F', 'EMS B', 'Utili', 'scava', 'conv', 'car c', 'conta',
       'BOOM', 'CASE', 'case', 'fork', 'box', 'CONT', 'TRACK', 'track',
       'US Po', '72000', 'white', 'OIL T', 'Small', 'Road', 'POSTA',
       'city', 'UNNKO', 'bed', 'REP', 'food', 'U-Hau', 'omr', 'cater',
       'Jeep', 'SEMI', 'E350', 'armor', 'CAT', 'UNKOW', 'horse', 'Fdny',
       'PCH', 'OML/', 'E', 'VAN/T', 'Tow T', 'G COM'], dtype=object)

In [11]:
joint_vehicle_Types = [traffic_acc["VEHICLE TYPE CODE 1"], traffic_acc["VEHICLE TYPE CODE 2"]]
vehicle_types = pd.concat (joint_vehicle_Types, sort=True)
vehicle_types

0                                       Sedan
1                                       Sedan
2                                       Sedan
3                                        Taxi
4                                       Sedan
                         ...
282868                                  Sedan
282869    Station Wagon/Sport Utility Vehicle
282870                                  Sedan
282871                                  Sedan
282872                                    NaN
Length: 565746, dtype: object

In [12]:
vehicle_types.value_counts().head(7)

Sedan                                  214228
Station Wagon/Sport Utility Vehicle    171573
Taxi                                    17586
Pick-up Truck                           13347
Box Truck                               11869
Bike                                    11721
Bus                                      8621
dtype: int64

In [13]:
## What were a FIVE unusual primary vehicles to get into a crash?
traffic_acc["VEHICLE TYPE CODE 1"].value_counts()

Sedan                                  129987
Station Wagon/Sport Utility Vehicle    102850
Taxi                                    10647
Pick-up Truck                            7183
Box Truck                                5504
                                        ...
SLINGSHOT                                   1
CHEVY EXPR                                  1
Go kart                                     1
FDNY Engin                                  1
MAC T                                       1
Name: VEHICLE TYPE CODE 1, Length: 633, dtype: int64

In [14]:
## create a subset of data for only Queens
## place it in a dataframe called df_q

df_q = traffic_acc[traffic_acc["BOROUGH"]== "QUEENS"]

df_q

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
2,4/13/21,17:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408019,Sedan,Sedan
10,4/14/21,21:43,QUEENS,0,0,0,0,0,0,0,0,Turning Improperly,Unspecified,4407407,Station Wagon/Sport Utility Vehicle,NaN
17,4/15/21,14:30,QUEENS,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Driver Inattention/Distraction,4407616,Sedan,Station Wagon/Sport Utility Vehicle
27,4/16/21,11:00,QUEENS,1,0,0,0,1,0,0,0,Turning Improperly,Unspecified,4407792,Station Wagon/Sport Utility Vehicle,Bike
28,4/16/21,17:00,QUEENS,5,0,0,0,0,0,5,0,Traffic Control Disregarded,Unspecified,4407853,Sedan,Station Wagon/Sport Utility Vehicle
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282861,1/1/19,11:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,NaN,4065827,Sedan,NaN
282862,1/1/19,12:30,QUEENS,0,0,0,0,0,0,0,0,Unspecified,NaN,4062343,Sedan,NaN
282863,1/1/19,2:18,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060413,Sedan,NaN
282864,1/1/19,13:00,QUEENS,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4060511,Sedan,Sedan
282866,1/1/19,10:23,QUEENS,1,0,0,0,0,0,1,0,Failure to Keep Right,Failure to Keep Right,4059208,Station Wagon/Sport Utility Vehicle,Sedan

In [48]:
## CHALLENGE (as in you have to google this)
## How many people were killed in Queens in accidents?

sum_of_cols = df_q.sum(axis=0)
print(sum_of_cols)

CRASH DATE                       4/13/214/14/214/15/214/16/214/16/214/16/214/16...
CRASH TIME                       17:3021:4314:3011:0017:008:058:4013:5513:027:4...
BOROUGH                          QUEENSQUEENSQUEENSQUEENSQUEENSQUEENSQUEENSQUEE...
NUMBER OF PERSONS INJURED                                                    26815
NUMBER OF PERSONS KILLED                                                       120
NUMBER OF PEDESTRIANS INJURED                                                 4639
NUMBER OF PEDESTRIANS KILLED                                                    61
NUMBER OF CYCLIST INJURED                                                     2285
NUMBER OF CYCLIST KILLED                                                         8
NUMBER OF MOTORIST INJURED                                                   19483
NUMBER OF MOTORIST KILLED                                                       51
COLLISION_ID                                                          342061686984
dtype: object

/var/folders/cd/ptcktmld0_15yrknc99vw6480000gn/T/ipykernel_1946/2264498949.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  sum_of_cols = df_q.sum(axis=0)

In [ ]:
## Same
## how many cyclists were killed in Queens?

8

In [15]:
## Filter and subset 
## create a dataset for Manhattan that involved taxi cabs as the primary vehicle cause

df_m = traffic_acc["BOROUGH"] == "MANHATTAN"
taxi_veh_type = traffic_acc["VEHICLE TYPE CODE 1"] == "Taxi"

m_taxi_acc = traffic_acc[df_m & taxi_veh_type]
m_taxi_acc

,CRASH DATE,CRASH TIME,BOROUGH,NUMBER OF PERSONS INJURED,NUMBER OF PERSONS KILLED,NUMBER OF PEDESTRIANS INJURED,NUMBER OF PEDESTRIANS KILLED,NUMBER OF CYCLIST INJURED,NUMBER OF CYCLIST KILLED,NUMBER OF MOTORIST INJURED,NUMBER OF MOTORIST KILLED,CONTRIBUTING FACTOR VEHICLE 1,CONTRIBUTING FACTOR VEHICLE 2,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2
67,4/14/21,8:03,MANHATTAN,1,0,1,0,0,0,0,0,Driver Inattention/Distraction,NaN,4407277,Taxi,NaN
144,4/14/21,0:42,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,Unspecified,4407278,Taxi,Sedan
159,4/16/21,19:54,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,NaN,4407959,Taxi,NaN
283,4/16/21,21:04,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,NaN,4408288,Taxi,NaN
326,4/16/21,16:15,MANHATTAN,0,0,0,0,0,0,0,0,Driver Inattention/Distraction,Unspecified,4408069,Taxi,Bus
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282632,1/1/19,1:30,MANHATTAN,0,0,0,0,0,0,0,0,Other Vehicular,Driver Inattention/Distraction,4060445,Taxi,Station Wagon/Sport Utility Vehicle
282684,1/1/19,16:00,MANHATTAN,2,0,0,0,0,0,2,0,Traffic Control Disregarded,Unspecified,4061524,Taxi,Station Wagon/Sport Utility Vehicle
282802,1/1/19,16:15,MANHATTAN,0,0,0,0,0,0,0,0,Passenger Distraction,Passing Too Closely,4060796,Taxi,Sedan
282819,1/1/19,20:30,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,NaN,4060662,Taxi,NaN
282851,1/1/19,6:00,MANHATTAN,0,0,0,0,0,0,0,0,Unspecified,NaN,4060698,Taxi,NaN

In [16]:
## What were the top 5 causes of accidents across all the boroughs?
## by primary vehicle cause

traffic_acc["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().head(5)

Unspecified                       78494
Driver Inattention/Distraction    70615
Failure to Yield Right-of-Way     20691
Following Too Closely             14407
Backing Unsafely                  13348
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [17]:
## What were the top 5 causes of accidents across all the boroughs?
## by secondary vehicle cause

traffic_acc["CONTRIBUTING FACTOR VEHICLE 2"].value_counts().head(5)

Unspecified                       190456
Driver Inattention/Distraction     14186
Other Vehicular                     3529
Failure to Yield Right-of-Way       2233
Passing or Lane Usage Improper      2171
Name: CONTRIBUTING FACTOR VEHICLE 2, dtype: int64

In [18]:
## What were the 5 RAREST causes for primary vehicles causing the accident

traffic_acc["CONTRIBUTING FACTOR VEHICLE 1"].value_counts().tail(5)

Shoulders Defective/Improper    13
Texting                          8
Cell Phone (hands-free)          8
Windshield Inadequate            3
Listening/Using Headphones       2
Name: CONTRIBUTING FACTOR VEHICLE 1, dtype: int64

In [47]:
## list ALL the causes as unique values (in other words, create a list of the causes)
## WHAT ARE SOME UNUSUAL REASONS FOR ACCIDENTS?

joint_accident_causes = [traffic_acc["CONTRIBUTING FACTOR VEHICLE 1"], traffic_acc["CONTRIBUTING FACTOR VEHICLE 2"]]
accident_causes = pd.concat (joint_accident_causes, sort=True)
accident_causes

accident_causes.value_counts().tail(20)

Drugs (illegal)                                217
Accelerator Defective                          194
Lane Marking Improper/Inadequate               171
Traffic Control Device Improper/Non-Working    166
Cell Phone (hand-Held)                         117
Physical Disability                             92
Tinted Windows                                  48
Tow Hitch Defective                             44
Other Lighting Defects                          39
Headlights Defective                            39
Vehicle Vandalism                               35
Prescription Medication                         34
Eating or Drinking                              25
Using On Board Navigation Device                24
Other Electronic Device                         24
Shoulders Defective/Improper                    14
Cell Phone (hands-free)                         11
Texting                                          9
Listening/Using Headphones                       8
Windshield Inadequate                            3
dtype: int64